*{
	margin: 0px;
	padding: 0px;
	border: 0px;
	box-sizing: border-box;
}

body{
	width: 100%;
}

#box{
	display: flex;
}

#div{
	display: none;
}

#click,#hello{
	margin: 5px;
	padding: 5px;
	border: 2px red solid;
}

#palette{
	margin: auto;
	flex-wrap: wrap;
	display: flex;
	width: 1502px;
	border: 1px black solid;
}

.boxes{
	width: 100px;
	height: 100px;
}
